<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Suas Negociações
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card *ngFor="let proposta of propostas" (click)="verCarrinho(carrinho.id)">
    <ion-card-header>
      {{proposta.data.restauranteCod}} - Data
    </ion-card-header>
    <ion-card-content>
      <ion-item *ngFor="let produto of proposta.produtos" (click)="verCarrinho(carrinho.id)">
        <p>{{produto.id}} - Quantidade: {{produto.data.quantidade}} - Preço: {{produto.data.valor}}</p>
      </ion-item>
    </ion-card-content>
  </ion-card>

</ion-content>
